## Pandas:
- Làm việc với dữ liệu dạng bảng, liên kết các bảng có quan hệ
- Biểu đồ hóa trên pandas nhờ tích hợp được đa dạng những biểu đồ cơ bản matplotlib
- Đọc dữ liệu từ đa dạng các định dạng: csv, txt, xlsx, hdf5, json, dat, SQL table
- Pandas là 1 package được tích hợp các hàm về chuỗi thời gian -> được sử dụng trong quantitative finance

## Khởi tạo dataframe

- Ít dùng vì bình thường đọc file có sẵn csv/ txt
- Lưu kết quả log file của ctrinh => dataframe => save to csv
- dataframe giúp dễ thực hiện lọc, thống kê, visualize trực tiếp từ dataframe
=> Câu lệnh: pd.DataFrame(.)

### Khởi tạo thông qua Dictionary

In [8]:
import pandas as pd
from IPython.display import display
pd.set_option('display.max_colwidth', 40)
pd.set_option('display.precision', 5)
pd.set_option('display.max_rows', 10)
pd.set_option('display.max_columns', 30)

dict_table = {
    'Name': ['Trang', 'Han', 'Kiet', 'Lam', 'Cuong'],
    'Education': ['Academic', 'High School', 'High School', 'Academic', 'Secondary'],
    'Sex': ['Female', 'Female', 'Male', 'Male', 'Male'],
    'Age': [21, 18, 17, 20, 15]
}

df = pd.DataFrame(dict_table)
display(df)

    Name    Education     Sex  Age
0  Trang     Academic  Female   21
1    Han  High School  Female   18
2   Kiet  High School    Male   17
3    Lam     Academic    Male   20
4  Cuong    Secondary    Male   15

### Khởi tạo thông qua list các dòng

In [9]:
import pandas as pd 

list_table = [
    ('Trang', 'Academic', 'Female', 21),
    ('Han', 'High School', 'Female', 18),
    ('Kiet', 'High School', 'Male', 17),
    ('Lam', 'Academic', 'Male', 20),
    ('Cuong', 'Secondary', 'Male', 15)
]

df = pd.DataFrame(data = list_table, columns = ['Name', 'Education', 'Sex', 'Age']) 
display(df)

    Name    Education     Sex  Age
0  Trang     Academic  Female   21
1    Han  High School  Female   18
2   Kiet  High School    Male   17
3    Lam     Academic    Male   20
4  Cuong    Secondary    Male   15

### Lưu trữ dataframe dưới dạng 1 file csv

In [10]:
df.to_csv("p:\MML\PythonBasic\pandas\data_ex.csv", index = False)

### Đọc dữ liệu từ file csv

In [22]:
df = pd.read_csv('P:\MML\PythonBasic\pandas\data.csv')
# df.head()
# df.tail()
# df.sample(5)
# df.info()
# df.dtypes 
df.describe()

,Socioeconomic Score,Study Hours,Sleep Hours,Attendance (%),Grades
count,1388.00000,1388.00000,1388.00000,1388.00000,1388.00000
mean,0.55227,4.56081,8.04726,58.53602,40.69164
std,0.26127,1.89758,1.37070,11.67529,9.46736
min,0.10128,0.80000,4.80000,40.00000,32.00000
25%,0.32212,3.47500,7.00000,49.00000,34.00000
50%,0.54594,3.90000,8.40000,57.00000,35.00000
75%,0.78961,5.90000,9.10000,66.00000,47.00000
max,0.99982,10.00000,10.00000,100.00000,91.00000

### Xuất dữ liệu sang file csv, excel, txt, json

In [24]:
#Df hiện tại là dataframe của file data.csv
df.to_csv('p:\MML\PythonBasic\pandas\data_csv.csv', index = False)
# df.to_excel('p:\MML\PythonBasic\pandas\data_excel.xlsx', index = False)
df.to_json('p:\MML\PythonBasic\pandas\data_json.json', index = False)

## Thao tác với dataframe

In [28]:
# Lựa chọn 5 dòng cuối và 3 cột đầu của df
df.iloc[-5:, :3]

      Socioeconomic Score  Study Hours  Sleep Hours
1383              0.44549          5.5          8.0
1384              0.52466          4.9          6.5
1385              0.88197          3.9          6.2
1386              0.47336          3.5          7.3
1387              0.58119          3.7          9.7

In [29]:
# Lựa chọn 5 dòng từ 5:10 và 2 cột từ 2:4
# iloc = index location
df.iloc[5:10, 2:4]

   Sleep Hours  Attendance (%)
5          9.0            47.0
6          8.1            63.0
7          8.0            47.0
8          8.8            67.0
9          9.6            42.0

In [30]:
# Truy cập các dòng có index là 10:15
df.loc[10:15]

    Socioeconomic Score  Study Hours  Sleep Hours  Attendance (%)  Grades
10              0.34712          3.8          7.3            61.0    35.0
11              0.34816          9.1          7.7            80.0    60.0
12              0.81689          1.1          8.9            43.0    34.0
13              0.35940          3.7          8.0            55.0    35.0
14              0.97654          3.7          9.9            51.0    51.0
15              0.42548          3.9          9.3            68.0    33.0

In [32]:
# Lấy ra các dòng từ 21:31 của các trường 'Study Hours', 'Grades'
df[['Study Hours', 'Grades']].iloc[21:31]

    Study Hours  Grades
21          3.5    34.0
22          9.8    64.0
23          6.5    52.0
24          4.0    34.0
25          3.1    37.0
26          2.8    33.0
27          3.8    34.0
28          5.9    45.0
29          3.5    35.0
30          3.8    33.0

### Lọc dataframe

In [35]:
#Lọc những dòng có 'Grades' >= 50
df[df['Grades'] >= 50].head()

    Socioeconomic Score  Study Hours  Sleep Hours  Attendance (%)  Grades
5               0.98320          3.4          9.0            47.0    51.0
6               0.56648          7.9          8.1            63.0    54.0
11              0.34816          9.1          7.7            80.0    60.0
14              0.97654          3.7          9.9            51.0    51.0
22              0.66286          9.8          6.2            78.0    64.0

In [37]:
df[(df['Grades']>=20) & (df['Grades']<=40)].head(10)

    Socioeconomic Score  Study Hours  Sleep Hours  Attendance (%)  Grades
1               0.85566          3.2          5.9            55.0    35.0
2               0.68025          3.2          9.3            41.0    32.0
3               0.25936          3.2          8.2            47.0    34.0
4               0.60447          3.8         10.0            75.0    33.0
7               0.93487          1.4          8.0            47.0    34.0
8               0.46660          5.4          8.8            67.0    39.0
9               0.62130          1.4          9.6            42.0    34.0
10              0.34712          3.8          7.3            61.0    35.0
12              0.81689          1.1          8.9            43.0    34.0
13              0.35940          3.7          8.0            55.0    35.0

In [39]:
#Lọc theo định dạng cột dữ liệu
df.select_dtypes(include = ['int64', 'float64']).head()

   Socioeconomic Score  Study Hours  Sleep Hours  Attendance (%)  Grades
0              0.95822          3.4          8.2            53.0    47.0
1              0.85566          3.2          5.9            55.0    35.0
2              0.68025          3.2          9.3            41.0    32.0
3              0.25936          3.2          8.2            47.0    34.0
4              0.60447          3.8         10.0            75.0    33.0

In [41]:
#Loc cac cot co tieu de bat dau bang chu cai 'S'
#Neu axis=1: loc cot, axis=0: loc dong
df.filter(regex='^S', axis=1).head()

   Socioeconomic Score  Study Hours  Sleep Hours
0              0.95822          3.4          8.2
1              0.85566          3.2          5.9
2              0.68025          3.2          9.3
3              0.25936          3.2          8.2
4              0.60447          3.8         10.0

### Sort dữ liệu

In [44]:
#Sắp xếp theo số giờ ngủ giảm dần
df.sort_values(by='Study Hours', ascending=False).tail(10)

      Socioeconomic Score  Study Hours  Sleep Hours  Attendance (%)  Grades
920               0.85888          0.9          8.2            45.0    32.0
854               0.28849          0.9          8.5            41.0    35.0
850               0.17377          0.9          8.5            50.0    35.0
1360              0.26702          0.8          8.3            49.0    33.0
299               0.77758          0.8          7.4            54.0    34.0
369               0.80265          0.8          8.0            41.0    34.0
488               0.75161          0.8          9.4            56.0    33.0
916               0.48532          0.8          6.9            41.0    33.0
700               0.11737          0.8          5.1            55.0    34.0
881               0.68821          0.8          8.0            46.0    34.0

In [47]:
#Sap xep theo nhieu cot, cot nao nhac ten truoc thi uu tien sap xep theo cot do
df.sort_values(by=['Grades', 'Study Hours'], ascending = True).head(10)

      Socioeconomic Score  Study Hours  Sleep Hours  Attendance (%)  Grades
920               0.85888          0.9          8.2            45.0    32.0
281               0.49205          1.0          8.5            52.0    32.0
403               0.86060          1.9          9.5            53.0    32.0
276               0.56856          2.4          7.1            41.0    32.0
861               0.54012          3.0          9.0            52.0    32.0
1206              0.33863          3.1          5.4            42.0    32.0
2                 0.68025          3.2          9.3            41.0    32.0
364               0.51029          3.4         10.0            43.0    32.0
342               0.45431          3.5          9.2            72.0    32.0
345               0.32658          3.5          5.9            66.0    32.0

### Các hàm đối với một trường

#### min, max, mean, median, sum

In [52]:
print(df['Grades'].min())
print(df['Grades'].max())
print(df['Grades'].mean().round(5))
print(df['Grades'].median())
print(df['Grades'].sum())

32.0
91.0
40.69164
35.0
56480.0

#### Hàm cut

In [53]:
#Dat ten cho cac khoang gia tri cua cot 'Grades'
bins = [0, 20, 40, 60, 80, 100]
labels = ['A', 'B', 'C', 'D', 'E']
df['Grades_cut'] = pd.cut(df['Grades'], bins = bins, labels = labels)
display(df)

,Socioeconomic Score,Study Hours,Sleep Hours,Attendance (%),Grades,Grades_cut
0,0.95822,3.4,8.2,53.0,47.0,C
1,0.85566,3.2,5.9,55.0,35.0,B
2,0.68025,3.2,9.3,41.0,32.0,B
3,0.25936,3.2,8.2,47.0,34.0,B
4,0.60447,3.8,10.0,75.0,33.0,B
...,...,...,...,...,...,...
1383,0.44549,5.5,8.0,51.0,41.0,C
1384,0.52466,4.9,6.5,63.0,37.0,B
1385,0.88197,3.9,6.2,54.0,36.0,B
1386,0.47336,3.5,7.3,61.0,34.0,B
1387,0.58119,3.7,9.7,79.0,35.0,B

In [54]:
#In ra nhung dong co 'Grades' thuoc khoang 'B'
df[df['Grades_cut']=='B'].head(10)

,Socioeconomic Score,Study Hours,Sleep Hours,Attendance (%),Grades,Grades_cut
1,0.85566,3.2,5.9,55.0,35.0,B
2,0.68025,3.2,9.3,41.0,32.0,B
3,0.25936,3.2,8.2,47.0,34.0,B
4,0.60447,3.8,10.0,75.0,33.0,B
7,0.93487,1.4,8.0,47.0,34.0,B
8,0.46660,5.4,8.8,67.0,39.0,B
9,0.62130,1.4,9.6,42.0,34.0,B
10,0.34712,3.8,7.3,61.0,35.0,B
12,0.81689,1.1,8.9,43.0,34.0,B
13,0.35940,3.7,8.0,55.0,35.0,B

#### Ham qcut

In [59]:
df['qcut_table'] = pd.qcut(df['Grades'], q=4, labels = ['Q1', 'Q2', 'Q3', 'Q4'])
df.head(10)

,Socioeconomic Score,Study Hours,Sleep Hours,Attendance (%),Grades,Grades_cut,qcut_table
0,0.95822,3.4,8.2,53.0,47.0,C,Q3
1,0.85566,3.2,5.9,55.0,35.0,B,Q2
2,0.68025,3.2,9.3,41.0,32.0,B,Q1
3,0.25936,3.2,8.2,47.0,34.0,B,Q1
4,0.60447,3.8,10.0,75.0,33.0,B,Q1
5,0.98320,3.4,9.0,47.0,51.0,C,Q4
6,0.56648,7.9,8.1,63.0,54.0,C,Q4
7,0.93487,1.4,8.0,47.0,34.0,B,Q1
8,0.46660,5.4,8.8,67.0,39.0,B,Q3
9,0.62130,1.4,9.6,42.0,34.0,B,Q1

#### Apply